In [1]:
Agenda
-Recap
- Data types in python
  ----> Fundamental data types
   ----> Derived data types
- Type Casting
-

SyntaxError: invalid syntax (1608293541.py, line 3)

## Data types in Python
1- Fundamental  Data type
  -int
  -float
  -complex
  -None
  -boolean
  -string
2 -Derived datatypes
  -list
  -tuple
  -set
  -dict -range

In [ ]:
Integer --> Any number without decimal point as integer

In [ ]:
a = 10

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
#operations on integers
# -Arithmatic operation

In [ ]:
+  ---> addition
- # ---> subtraction
/ #---> float division
// #---> floor division
% #--->Modulo
* #----> Multiplication
** #----> Exponent
can be performed in Integer
Can be performed on float

In [ ]:
print(10+30)

In [ ]:
print(60-20)

In [ ]:
print(10/5)

### floor division for int

In [ ]:
print(10//5)

floor <------------2.0--------------------------->Ceiling

In [ ]:
round(4.666666667)

In [ ]:
import math
math.ceil(4.666666666667)

In [ ]:
print(-14/5)

In [ ]:
# %
#it will give you the remainder
15%3

In [ ]:
14%3

### Multiplication

In [ ]:
print(20*5)

In [ ]:
#Exponent (**)
3**4  #-----> 3 *3*3*4

In [ ]:
# -- Comparision Operation ---->(it will give true or false)
< #---- less than 
> #------- greater than
<= #-------less than or equal to

>= #---- greater than or equal to

In [ ]:
10>20

In [2]:
30 >20

True

In [3]:
10 <20

True

In [4]:
10 = 10

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1637406045.py, line 1)

## Equality operators
it will return true or false

==
!=

In [ ]:
a = 20
b = 20
a == b

In [ ]:
a = 20
b = 40
print(a != b)

In [ ]:
a = 20
b = 20
print (a != b)

In [ ]:
a = "LearnBay "
b ="LearnBay"
a == b

In [ ]:
#ascii
ord(" ")  # ord is used to find the  ascii value

ord("A")

In [ ]:
ord("A")

ord("a")

In [ ]:
ord("a")

## Logical Operators  and we will be using  this for loops

In [ ]:
and
or
not

In [ ]:
print(True and False) #False
print(False and True) #False
print(True and True)  #True
print(False and False) #False

In [ ]:
0 * 0

In [ ]:
## or (+)
print(True or False) #True
print(False or True) #True
print(True or True)  #True
print(False or False) #False

In [ ]:
not True

In [ ]:
a = "ranjitha"
b = "ranjitha"
a == b

In [ ]:
10 and 20

In [ ]:
A and b -------> result will be A if A is False else B will be the result
A or b   -------> result will be A if A is True else B will be the result

In [ ]:
#
int -0 is always False and rest int are true
float - 0.0 is always False and rest int are True
string - "" is always False and rest int are True
comple - 0+0j is always False and rest int are True

In [ ]:
10 and 40

In [ ]:
0 or 20 # A --> 0  b--->20
#result will be A if A is True else B will be the result

### Bitwise operators

In [ ]:
&---> bitwise and
| ---> bitwise or
^  -----> bitwise xor
<< -----> leftshift
>>  ------> right shift
~   ------->bitwise not (tilde)

In [ ]:
# & ----> bitwise and
x =10
y =4

In [ ]:
bin(x)

In [ ]:
bin(y)

In [ ]:
10  ----------->  1 0 1 0
4   ------------> 0 1 0 0
-------------------------------------
                  0 0 0 0

In [ ]:
print(0b0000)

In [ ]:
#|  ---> bitwise or
x = 44
y = 56
print(x ^ y)

In [ ]:
44 -----------> 1 0 1 1 0 0
56 -----------> 1 1 1 0 0 0
--------------------------------------XOR
                0 1 0 1 0 0

In [ ]:
print(0b010100)

In [ ]:
#Rightshift(>> ----> right shift)
# formula  A//(2*n)

x = 20
print(x>>4)

In [ ]:
# Left shift << ---> leftshift

A * (2**n)

In [ ]:
print(20<<4)

In [ ]:
20 * (2**4)

In [ ]:
# (~)  -----> bitwise not (tilde)
# a  + 1 -----> change the sign
a = 500

In [ ]:
~(500)

### Assignment operator

In [9]:
a = 10
print(a)

10

In [10]:
 a = a + 5 #--------> a+5
print(a)

15

In [ ]:
a = a + 5 #-----> a+=5
a = a - 5  # -----> a-=5
a = a / 5  # ------> a/=5
a = a // 5 # a//=5
a = a ** 5 # a**=5
a = a & 5  # a&=5
a = a | 5 # a*=5

### Identity Operators

In [11]:
a = 10
b = 10

In [12]:
print(id(a))
print(id(b))

140717644026952
140717644026952

In [13]:
# object /memory reusability

In [14]:
print (a is b)

True

In [15]:
print (a is not b)

False

In [16]:
-5 to 256
---> physochological study
----> 0 256

SyntaxError: invalid syntax (2144426753.py, line 1)

In [17]:
x = 20
y = 20
print(id(x))
print(id(y))

140717644027272
140717644027272

In [ ]:
# object /memory reusability
int ---- - 5 to 256
None
True,False
string ---> "A - Z", "a-z", 0-9

## Float data type

In [18]:
any number with decimal is a float
example  ----> 10.99,88.899,90.0, -5.50

SyntaxError: invalid syntax (442665345.py, line 1)

In [19]:
f = 10.99

In [20]:
print(type(f))

<class 'float'>

In [ ]:
a = -100

### operations on Float

#- arithematic operations
#- comparison operations
#- logical coperations
#- Equality operations
#- assignment operations
#- we cannot do bitwise operations on float
#- identity operations we can perform on flat

In [ ]:
#note -- object reusability is not applicable in float